<article class="card mb-2 text-primary h2">
  <div class="card-body">
    <p>Links</p>
    <p>Full: {{item.origin}}</p>
    <p class="lead">Short: {{item.shortURL}}</p>
    <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
    <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
    <button
      data-short="{{item.shortURL}}"
      href=""
      class="btn btn-info"
    >Copiar</button>
  </div>
</article>